<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tony.fast.architecture.mapper.OperationLogMapper">

    <resultMap id="BaseResultMap" type="com.tony.fast.architecture.domain.OperationLog">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="module" column="module" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="targetId" column="target_id" jdbcType="VARCHAR"/>
            <result property="ip" column="ip" jdbcType="VARCHAR"/>
            <result property="params" column="params" jdbcType="OTHER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="BIGINT"/>
            <result property="creatorCode" column="creator_code" jdbcType="VARCHAR"/>
            <result property="creatorName" column="creator_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,module,type,
        target_id,ip,params,
        remark,created_at,creator_code,
        creator_name
    </sql>
</mapper>
